<div class="card card-primary card-outline">
  <div class="card-body box-profile">
    <div class="text-center">
      <img class="profile-user-img img-fluid img-circle" src="{{userModel.image}}" alt="User profile picture">
    </div>

    <h3 class="profile-username text-center">{{userModel.fullName}}</h3>

    <h5 class="profile-username text-center">{{userModel.address}}</h5>


    <a class="btn btn-primary btn-block marginButton text-white" [routerLink]="['/user-panel/edit']"><b>Edit
        profil</b></a>

    <div class="accordion" id="accordionExample">
   

      <div class="card">
        <div class="card-header" id="headingTwo">
          <div class="d-flex justify-content-between">

          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left " (click)="showCategorie()" type="button"
              data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Categori
            </button>
          </h2>
          <i *ngIf="boolCategorie==false" class="fas fa-arrow-left"></i>
          <i *ngIf="boolCategorie==true" class="fas fa-arrow-down"></i>
        </div>
        </div>
        <div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordionExample">
          <div *ngIf="boolCategorie==true" class="card-body">
            <div *ngFor="let item of categoriModel">
              <a class="text-primary"  (click)="testclick(item.name)">{{item.name}}</a>
              <hr>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="card-header" id="headingThree">
          <div class="d-flex justify-content-between">
          <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left " (click)="showAuthors()" type="button"
              data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Author
            </button>
          </h2>
          <i *ngIf="boolAuthor==false" class="fas fa-arrow-left"></i>
          <i *ngIf="boolAuthor==true" class="fas fa-arrow-down"></i>
        </div>
        </div>
        <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
          <div *ngIf="boolAuthor==true" class="card-body">
            <div *ngFor="let item of allManager">
              <a class="text-primary" [routerLink]="['/user-panel/']" (click)="testclick2(item.fullName)">{{item.fullName}}</a>
             <hr>
            </div>
          </div>
        </div>
      </div>

        <div class="card">
          <div class="card-header" id="headingThree">
            <div class="d-flex justify-content-between">
            <h2 class="mb-0">
              <button class="btn btn-link btn-block text-left " (click)="showFavorite()" type="button"
                data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Favorite
              </button>
            </h2>
            <i *ngIf="boolFavorite==false" class="fas fa-arrow-left"></i>
            <i *ngIf="boolFavorite==true" class="fas fa-arrow-down"></i>
          </div>
          </div>
          <div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordionExample">
            
            <div *ngIf="boolFavorite==true" class="card-body">
              <div *ngFor="let item of newsModel">
                <a class="text-primary" (click)="refreshItemClick(item)"  [routerLink]="['/user-panel/',(item.title)]">{{item.title}}</a>
               <hr>
              </div>
           
            </div>
          </div>
        </div>



      </div>


    </div>
  </div>
