.line{
    background-color: black;
    border: 1px solid black;
    width: 100%;
}
.myContainer{
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.divButton{
    padding: 20px;
}
.boxShadow{
    box-shadow: 1px 1px 3px 2px #000000;
} 
.boxShadow p{   
    padding: 20px;
}