.headerContainer{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}
.Profile{
    margin:0 30px;
    display: block;
    min-width: 200px;
    max-width: 340px;
}
.myContainer{
    display: flex;
    flex-direction: row;
}