.first{
    display: flex;
    flex-direction: row;
}
p{
    margin: 7px;
    font-weight: 700;
}
h4{
    text-decoration: underline;
}
h3{
    margin-bottom: 7px;
}
.second{
    display: flex;
   justify-content: center;
   margin: 15px;
}
.myButton{
    width: 170px;
    margin: 10px;
}