.imgCircle{
    margin-top: 65px;
    width: 110px;
    height: 110px;
border-radius: 50%; /* Радиус скругления */
border: 1px solid green; /* Параметры рамки */
}
.classHeight{
    height: 400px;
}
.divImage{
    min-height: 200px;
    margin: 5px;
  
}
.divTitle{
    display: flex;
    align-items: center;
    min-height: 150px;
    max-height: 300px;
}
.divTitle h4{
    display: block;  
}
.Card{
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding: 10px;
    box-shadow: 2px 2px 10px 2px #000000;
}
.divAuthor{
    display: flex;
    justify-content: space-around;
}
h6{
    color: grey;
    margin-top:4px;
}
.divBlock{
    background-color: red;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
}
h3{
    margin-top: 10px;
    font-weight: bold;
    line-height: 10px;
    letter-spacing: 1px;
}