  <div class="card card-solid">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-md-12 col-lg-6  col-sm-12">
          <div class="col-12">
            <img src="{{model.image}}" class="profile-user-img img-fluid divImage" width="510" alt="Product Image">
          </div>

        </div>
        <div class="col-12 col-md-12 col-lg-6 col-sm-12">
          <h3 class="my-3">{{model.title}}</h3>
          <div class="divAuthor">

          <p>Author:{{model.managerName}}</p>
          <p>DatePost:{{model.datePost}}</p>

        </div>
          <hr>
       
          <form #myForm="ngForm" (ngSubmit)="addComment()">

            <div class="input-group marginBottom">
              <div class="input-group-prepend">
                <span class="input-group-text">Comments</span>
              </div>
              <textarea [(ngModel)]="comment" name="Description" class="form-control" rows="2" aria-label="With textarea"></textarea>
            </div>

            <div class="mt-4">
              <button type="submit" class="btn btn-primary btn-lg btn-flat">
                Add comment
              </button>

              <a (click)="changeFavorite()" class="btn btn-default btn-lg btn-flat">
                Go to the favorite
                <i *ngIf="IsFavorite==true" class="fas fa-heart"></i>
              </a>
            </div>
          </form>

        </div>
      </div>
      <div class="row mt-4">
        <nav class="w-100">
          <div class="nav nav-tabs" id="product-tab" role="tablist">
            <a class="nav-item nav-link active" (click)="changeValue('description')">
              Description</a>
            <a class="nav-item nav-link" (click)="changeValue('comments')">Comments</a>
          </div>
        </nav>
        <div *ngIf="value==true" class="container w-100">
          <app-newsDescription [model]="model.description"></app-newsDescription>
        </div>
        <div *ngIf="value==false" class="container w-100">
          <app-newsComments [title]="title"></app-newsComments>
        </div>
      </div>
    </div>
  </div>

